In [1]:
x=3
y=2

In [2]:
x+y

5

In [ ]:
# varible declaration

In [6]:
firstname='nida'          # Rule 1- no spaces allowed
print(firstname)

nida

In [ ]:
first_name='nida'          # Rule 1- no spaces allowed
print(first_name)

In [8]:
1name='Nida'               # Rule 2-  Variable name should not start with number
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-6e3c8f08c2f6>, line 1)

In [9]:
name1='zara'               # Rule 2-  Variable name should not start with number
print(name1)

zara

In [10]:
name@='Nida'               # Rule 3 - special character not allowed
print(name@)

SyntaxError: invalid syntax (<ipython-input-10-1dd05c552b62>, line 2)

In [12]:
name='sabera'               # Rule 3 - special character not allowed
print(name)

sabera

In [ ]:
# DATA TYPES

In [ ]:
1--STRING

In [13]:
name1='akshara'         # String in SINGLE QUOTE
print(name1)

akshara

In [16]:
name2="Nida"            # String in DOUBLE QUOTE
print(name2)

Nida

In [17]:
name3="""Suhair"""       # String in TRIPLE QUOTE
print(name3)

Suhair

In [ ]:
How to verify and validate the datatypes
builtin methods of a string using type method

In [18]:
type(name1)

str

In [19]:
type(name)

str

In [20]:
type(name3)

str

In [21]:
full_name='nida bandukwale'
print(full_name)

nida bandukwale

In [22]:
print(full_name.title())      #using title() method

Nida Bandukwale

In [24]:
print(full_name.upper())   #to get name is upper case

NIDA BANDUKWALE

In [25]:
print(full_name.lower())     #to get name in lower case

nida bandukwale